.root {
    -fx-font-size: 14px;
}
.mark-problem {
    -fx-text-fill: orange;
}

.mark-error {
    -fx-text-fill: red;
}

.mark-notice {
    -fx-text-fill: dodgerblue;
}

.mark-good {
    -fx-text-fill: green;
}

#textFlowData {
    -fx-padding: 10;
    -fx-background-color: white;
}
#textFlowData > * {
    -fx-font-size: 20px;
}
#buttonTransfer {
    -fx-font-weight: bold;
    -fx-text-fill: darkred;
}